body {
    font-family: 'Helvetica', 'Arial', sans-serif;
background-color: rgba(245, 245, 245, 0.1); /* Opacity is set here (0.1) */
    margin: 0;
    padding: 0;
	background-image: url(img.png); /* Replace 'watermark.png' with your image file name */
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}

.container {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Example: Adjust font size */
h1 {
    font-size: 24px;
}

/* Example: Increase spacing between elements */
.input-group,
.result {
    margin-bottom: 15px;
}
/* Small screens (e.g., phones) */
@media (max-width: 767px) {
    /* Example: Adjust layout or font size for smaller screens */
    .container {
        padding: 10px;
    }

    /* Example: Adjust input size and spacing */
    .input-group input[type="number"],
    .input-group select,
    .result span {
        padding: 8px;
        margin-bottom: 10px;
    }
}
}

label {
    display: block;
    font-weight: bold;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: none;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: inset 4px 4px 8px #d1d9e6, inset -4px -4px 8px #ffffff;
}

.result {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    background: #f5f5f5;
    box-shadow: 10px 10px 20px #d1d9e6, -10px -10px 20px #ffffff;
}

.result label {
    font-weight: bold;
    margin-right: 10px;
}

span {
    padding: 5px 10px;
    border-radius: 5px;
    background: #f5f5f5;
    box-shadow: inset 4px 4px 8px #d1d9e6, inset -4px -4px 8px #ffffff;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.input-group input[type="number"],
.input-group select,
.result span {
    background-color: rgba(220, 220, 220, 0.8); /* Adjust the color and opacity as needed */
    box-shadow: inset 4px 4px 8px #d1d9e6, inset -4px -4px 8px #ffffff;
}

/* ... Rest of your CSS ... */
